/* CLEARNING */
*{
  margin: 0;
  padding: 0;
  font-family: 'Verdana';
}

/* ---------------------------------------------------------------------------- */
/* MAIN TAGS */
body{
  background-color: rgb(196, 195, 195);
}

textarea{
  height: 100px;
  /* white-space: pre-line; */
}

th, td{
  text-align: center;
}

pre{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  margin: 0px;
}


/* ---------------------------------------------------------------------------- */
/* CLASSES SELECTORS */
/* ---------------------------------------------------------------------------- */

/* Form Selectors */
.cont{
  max-width: 500px;
}

.my-form{
  max-width: 450px;
  margin: auto;
}

/* ---------------------------------------------------------------------------- */
/* Content Selectors */
.header{
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}
.table{
  background-color: white;
  max-width: 700px;
}

.table td{
  vertical-align: middle;
}

.bi-star-fill{
  color: rgb(2, 2, 0);
  font-size: 20px; 
}

.bi-star-fill:hover{
  color: rgb(186, 57, 57)
}

.bi-star:hover{
  color: rgb(42, 154, 27)
}

/* Modal Selector */
.modal-footer{
  justify-content: space-between;
}

.modal-footer p{
  font-size: 13px;
}


#modal-dialog-edit{
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}



.text{
  color: rgb(7, 86, 170);
  font-size: 20px;
}

.text:hover{
  cursor: pointer;
  color: rgb(27, 118, 215);
  font-size: 20px;
}




